@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital@1&display=swap"); /*font-family: 'Bebas Neue', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap"); /*font-family: 'Shadows Into Light', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"); /*font-family: 'Amatic SC', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap"); /*font-family: 'Staatliches', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); /*font-family: 'Pacifico', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap"); /*font-family: 'Teko', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap"); /*font-family: 'Bungee Spice', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap"); /*font-family: 'Teko', sans-serif;*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  
}

main{
  padding-top: 117px;
}
.introbody {
  background-image: url(/img/milad-fakurian-PGdW_bHDbpI-unsplash.jpg);
  background-size: cover;
  padding: 3rem;
  margin: 25px;
  background-repeat: none;
  border: 3px solid black;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 100%;
}

.introname {
  font-family: "Staatliches", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introname span:nth-child(1) {
  font-size: 90px;
  display: flex;
  background-image: url(/img/space.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  color: transparent;
  letter-spacing: 4px;
}

.introname span:nth-child(2) {
  font-size: 73px;
  display: flex;
  background-image: url(/img/space.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  color: transparent;
  justify-content: center;
}

.intropara {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 33px;
  font-family: "Teko", sans-serif;
  font-size: 40px;
  padding: 0 20px;
  margin-bottom: 43px;
  letter-spacing: 1px;
  color: black;
  margin-top: 15px;
}

.introbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.intropara span {
  font-family: "Staatliches", cursive;
  color: rgb(255, 0, 0);
}

.mebox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.photobox{
  position: absolute;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  overflow: hidden;
}

.photobox::before{
  content: '';
  position: absolute;
  inset: 5px 85px;
  background: linear-gradient(#00ccff, #d500f9);
  width: 100px;
  height: 61vh;
  animation: animate 4s linear infinite;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 50%;
}
.photobox:hover::before{
  inset: -20px 0px;
}


@keyframes animate{
  0%{
    transform: rotate(0deg);

  }
  100%{
    transform: rotate(360deg);
  }
}

.photobox::after{
  content: '';
  position: absolute;
  inset: 6px;
  border-radius: 16px;
  background:black;
  border-radius: 50%;
  z-index: 1;
}

.content{
  position: absolute;
  inset: 30px;
  border: 6px solid black;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.content img{
  top:0;
  left:0;
  width:100%;
  height: 100%;
  object-fit: cover;

}

.system {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 49vh;
  margin: 25px 25px;
  flex-direction: column;
  padding: 7px 7px;
}

.specbox {
  font-size: 38px;
  font-family: "Bungee Spice", cursive;
  padding: 11px 11px;
  border-radius: 7px;
  letter-spacing: 2px;
}

.specifications {
  display: flex;
  justify-content: center;
  align-items: center;
}

.machine {
  background-image: url(/img/1155007.webp);
  background-size: cover;
  padding: 2rem;
  border-radius: 11px;
  width: 650px;
  display: flex;
  justify-content: center;
}

.machine ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-size: 23px;
  color: white;
}

.machine ul li img {
  height: 43px;
  width: 43px;
  padding: 7px;
}
.accessories ul li {
  list-style: none;
  font-family: "Bebas Neue", cursive;
  display: flex;
  align-items: center;
  font-size: 23px;
  letter-spacing: 2px;
  color: white;
}
.accessories ul li img {
  height: 43px;
  width: 43px;
  padding: 11px;
}
.accessories {
  background-image: url(/img/dark-pink-purple-liquid-blur-gradient-background-free-photo.jpg);
  background-size: cover;
  padding: 2rem;
  border-radius: 11px;
  width: 650px;
  height: 31.1vh;
  display: flex;
  justify-content: center;
}

.words span {
  font-size: 67px;
  color: rgb(6, 202, 202);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*@keyframes spin_words{

  10%{transform:translateY(-312%)};

  25%{transform:trnaslteY(-100%)};

  30%{transform: translateY(-212%)};

  50%{transform: translateY(-200%)};

  60%{transform:translateY(-312%)};

  75%{transform: translateY(-300%)};

  85%{transform: translateY(-412%)};

  100%{transform:translateY(-400%)};

}*/

.contactmepage {
  background-image: url(/img/Colorbox\ 3\ -\ Copy@1-1522x827.png);
  padding: 1.6rem;
  background-size: cover;
  border-radius: 17px;
  margin: 25px;
  height: fit-content;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: row;
  width: 1000px;
}



.socials {
  width: fit-content;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.socials h1 {
  font-family: "Staatliches", cursive;
  letter-spacing: 1px;
  font-size: 44px;
  padding-bottom: 8px;
}
.socials ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 1000px;
}

.socials ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxcontactme {
  display: flex;
  align-items: center;
  justify-content: center; 
  
}
.socials ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-size: 41px;
  font-family: "Teko", sans-serif;
}
.socials ul li a:hover {
  color: red;
}
.socials ul li img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 11px;
}

.mailform {
  padding: 40px 40px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(98px);
  border-radius: 38px;
}

.mailform h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin-bottom: 19px;
  font-family: "Amatic SC", cursive;
  font-size: 49px;
}

.helpme input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  margin: 10px 0;
  width: 100%;
  height: 4vh;
  border-radius: 100px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 22px;
  color: white;
  letter-spacing: 2px;
  border: 1px solid white;
  padding: 2px 0px;
}

.field {
  width: 100%;
  height: 13vh;
  border-radius: 17px;
  text-align: center;
  font-size: 19px;
  font-family: "Pacifico", cursive;
}

.helpme textarea {
  border: 2px solid black;
}

.helpme button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 17px;
  padding: 5px;
  font-family: "Bebas Neue", cursive;
  background-color: rgba(59, 74, 108, 0.5);
  backdrop-filter: blur(98px);
}
.helpme button:hover {
  font-size: 26px;
}
.helpme {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}